<section class="hero">

  <div class="hero-container">

    <!-- LEFT -->
    <div class="hero-left">

      <p class="small-text">Frontend Developer</p>

      <h1>
        Hello, I'm <span>Nilam Mane</span>
      </h1>

      <h3>Angular Developer</h3>

      <p class="desc">
        I build modern, scalable, and high-performance web applications using Angular,
        with a strong focus on clean UI and seamless user experience.
      </p>

      <div class="hero-buttons">
        <button class="btn-primary">Hire Me</button>
        <button class="btn-outline">View Projects</button>
      </div>

    </div>

    <!-- RIGHT -->
    <div class="hero-right">

      <div class="image-box">
        <img src="assets/profile2.jpeg" alt="profile">
      </div>

    </div>

  </div>

</section>
