<section id="skills" class="skills">

  <!-- TITLE -->
  <h2 class="skills-title">My Skills</h2>

  <div class="skills-container">

    <!-- CARD -->
    <div class="skill-card">

      <div class="icon">
        <i class="bi bi-filetype-html"></i>
      </div>

      <h3>HTML5</h3>

      <div class="line"></div>

      <p>
        Build stunning and modern websites with interactive features for all users.
      </p>

    </div>

    <!-- CARD -->
    <div class="skill-card">

      <div class="icon">
        <i class="bi bi-filetype-css"></i>
      </div>

      <h3>CSS3</h3>

      <div class="line"></div>

      <p>
        Design responsive and modern layouts with advanced styling techniques.
      </p>

    </div>

    <!-- CARD -->
    <div class="skill-card">

      <div class="icon">
        <i class="bi bi-filetype-js"></i>
      </div>

      <h3>Bootstrap</h3>

      <div class="line"></div>

      <p>
        Create dynamic, interactive, and high-performance web applications.
      </p>

    </div>
    <div class="skill-card">

      <div class="icon">
        <i class="bi bi-filetype-js"></i>
      </div>

      <h3>JavaScript</h3>

      <div class="line"></div>

      <p>
        Create dynamic, interactive, and high-performance web applications.
      </p>

    </div>
    <div class="skill-card">

      <div class="icon">
        <i class="bi bi-filetype-js"></i>
      </div>

      <h3>TypeScript</h3>

      <div class="line"></div>

      <p>
         Write scalable and type-safe code for large applications using TypeScript.
      </p>

    </div>
    <div class="skill-card">

      <div class="icon">
        <i class="bi bi-filetype-js"></i>
      </div>

      <h3>Angular</h3>

      <div class="line"></div>

      <p>
        Build powerful, dynamic, and scalable frontend applications using Angular.
      </p>

    </div>
    <div class="skill-card">

      <div class="icon">
        <i class="bi bi-filetype-js"></i>
      </div>

      <h3>Node.js</h3>

      <div class="line"></div>

      <p>
         Develop backend APIs and server-side applications using Node.js.
      </p>

    </div>
    <div class="skill-card">

      <div class="icon">
        <i class="bi bi-filetype-js"></i>
      </div>

      <h3>Docker</h3>

      <div class="line"></div>

      <p>
         Containerize applications for easy deployment and scalability using Docker.
      </p>

    </div>
    <div class="skill-card">

      <div class="icon">
        <i class="bi bi-filetype-js"></i>
      </div>

      <h3>Azure</h3>

      <div class="line"></div>

      <p>
        Deploy and manage applications using Microsoft Azure cloud services.
      </p>

    </div>




  </div>

</section>
