<!-- <section id="contact">

  <h2 class="text-center">Contact</h2>

  <div class="form">

    <input placeholder="Name">
    <input placeholder="Email">
    <textarea placeholder="Message"></textarea>

    <button class="btn-main">Send</button>

  </div>

</section> -->




<section id="contact" class="contact">

  <h2 class="contact-title">Contact Me</h2>

  <div class="form">

    <input placeholder="Enter your name">
    <input placeholder="Enter your email">
    <textarea placeholder="Enter your message"></textarea>

    <button class="btn-main">Send Message</button>

  </div>

</section>
