/* .form {
  width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input, textarea {
  padding: 12px;
  border-radius: 8px;
  border: none;
} */



.contact {
  padding: 100px 8%;
}

/* TITLE */
.contact-title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
  color: #ff00aa;
}

/* FORM CONTAINER */
.form {
  width: 450px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;

  background: #020617;
  padding: 30px;
  border-radius: 20px;

  /* 🔥 GLOW */
  border: 1px solid rgba(255, 0, 170, 0.3);
  box-shadow: 0 0 20px rgba(255, 0, 170, 0.2);
}

/* INPUTS */
input, textarea {
  padding: 15px;
  border-radius: 10px;

  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);

  color: white;
  font-size: 14px;

  outline: none;
  transition: 0.3s;
}

/* PLACEHOLDER COLOR */
input::placeholder,
textarea::placeholder {
  color:  #94a3b8;
}

/* 🔥 FOCUS EFFECT */
input:focus,
textarea:focus {
  border-color: #ff00aa;
  box-shadow: 0 0 10px rgba(255, 0, 170, 0.6);
}

/* TEXTAREA HEIGHT */
textarea {
  min-height: 120px;
  resize: none;
}

/* 🔥 BUTTON (MAIN IMPROVEMENT) */
.btn-main {
  width: 100%;
  padding: 15px;

  border-radius: 30px;
  border: 1px solid #ff00aa;

  background: transparent;
  color:  #f1f2f4;

  font-size: 16px;
  font-weight: 500;

  cursor: pointer;
  transition: 0.3s;
}

/* 🔥 BUTTON HOVER */
.btn-main:hover {
  background: #3d2c37;
  color: black;

  box-shadow: 0 0 15px  #977392;
  transform: scale(1.03);
}
