<section id="projects" class="projects">

  <h2 class="project-title">Projects</h2>

  <div class="project-grid">

    <div class="card">
      <h4>Portfolio Website</h4>
      <p>Built using Angular 17 with responsive UI design.</p>
      <button>View Project</button>
    </div>

    <div class="card">
      <h4>Ecommerce App</h4>
      <p>Developed shopping app with API integration.</p>
      <button>View Project</button>
    </div>

    <div class="card">
      <h4>Management System</h4>
      <p>CRUD based dashboard with modern UI.</p>
      <button>View Project</button>
    </div>

  </div>

</section>
