
@media (max-width: 768px) {

  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-text {
    max-width: 100%;
  }

  .hero-img img {
    width: 250px;
    margin-top: 20px;
  }

  .project-grid {
    flex-direction: column;
    align-items: center;
  }

}
